
* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: grey;
    color: #fff;
    text-align: center;
}
.header {
    font-size:48px;
    margin: 2em auto;
}

.cover-image {
    position: relative;
    background-size: cover;
}

h2 {
    font-size: 32px;
    margin: 2em auto;
    
}

a {
    color: #fff;
}

a:hover {
    color: greenyellow;
}

.recipe-list {
    font-size: 18px;
    padding: 1em;
    list-style: none;
}

.recipe-title {
    font-size: 48px;
}

.ingredient-list,
.instructions-list,
.list-items{
    text-align: left;
    padding: 1em;
    margin-left: 15%;
}

